*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html,
body{

    width:100%;
    height:100%;
    overflow:hidden;

    background:#111;

    font-family:sans-serif;
}

#scene{

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    perspective:1900px;

    overflow:hidden;
}

#camera{

    position:relative;

    width:900px;
    height:900px;

    transform-style:preserve-3d;

    /*
        Isometric viewpoint.
        We'll tune later.
    */

  transform:

        rotateX(63deg)

        rotateZ(-45deg);
}

#conveyor{

    position:absolute;

    inset:0;

    transform-style:preserve-3d;
}

.card{
    position:absolute;

    width:220px;
    height:220px;

    left:50%;
    top:50%;

    margin-left:-110px;
    margin-top:-110px;

    transform-style:preserve-3d;

    overflow:hidden;

    border-radius:18px;

     --lift:0px;

    transition:
        transform .45s cubic-bezier(.22,1,.36,1),
        box-shadow .45s;
}

.card img{

    width:100%;
    height:100%;
    object-fit:cover;

    pointer-events:none;
}