*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html,
body{

    width:100%;
    height:100%;
    overflow:hidden;

    background:#111;

    font-family:sans-serif;
}

#scene{

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    perspective:1900px;

    overflow:hidden;
}

#camera{

    position:absolute;

    width:2400px;
    height:2400px;

    left:50%;
    top:50%;

    margin-left:-1200px;
    margin-top:-1200px;

    transform-style:preserve-3d;

    transform:
        rotateX(63deg)
        rotateZ(-45deg);

}

#conveyor{

    position:absolute;

    inset:0;

    transform-style:preserve-3d;
}

.card{
    position:absolute;

    width:220px;
    height:220px;

    left:50%;
    top:50%;

    margin-left:-110px;

    transform-style:preserve-3d;

    overflow:hidden;

    border-radius:18px;

     --lift:0px;

    --hover-offset: 0px;

    margin-top: calc(-110px + var(--hover-offset));

    transition:
        margin-top 0.45s cubic-bezier(.22, 1, .36, 1);
}

.card img{

    width:100%;
    height:100%;
    object-fit:cover;

    pointer-events:none;
}

.card-inner {
    width:100%;
    height:100%;

    transition:
        transform 0.45s cubic-bezier(.22, 1, .36, 1);
}

.card:hover {
    --hover-offset: -80px;
}

#viewport{
    width:100vw;
    height:100vh;
    overflow:hidden;
    position:relative;
}